<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualize os dados do Veiculo</title>
</head>
<body>
    <h1>Edite o Veiculo</h1>
    <form action="{% url 'updateVehicle' vehicle.codeFipe %}" method="post">
        
        {% csrf_token %}
        <input type="text" name="price" value="{{ vehicle.price }}">
        <input type="text" name="brand" value="{{ vehicle.brand }}">
        <input type="text" name="model" value="{{ vehicle.model }}">
        <input type="text" name="modelYear" value="{{ vehicle.modelYear }}">
        <input type="text" name="fuel" value="{{ vehicle.fuel }}">
        <input type="text" name="vehicleType" value="{{ vehicle.vehicleType }}">
        <input type="text" name="fuelType" value="{{ vehicle.fuelType }}">

        <button type="submit">Salvar</button>
    </form>
</body>
</html>